/* Element selector */
h1, h2 {
  color: navy;
}

p {
  color: darkgreen;
}


.highlight {
  background-color: yellow;
  font-style: italic;
}

#main-title {
  text-decoration: underline;
  color: blue;
}

h2, p, li {
  border: 1px solid lightgray;
}

div p {
  color: purple;
}

div > ul > li {
 background-color: rgb(238, 62, 62);
}
img[alt] {
  border: 2px solid black;
  width: 200px;
}


.hov:hover {
  color: red;
}
