body {
font-family: Arial, sans-serif;
  background: url("images.jpg") center fixed; 
 background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin: 20;
  padding: 40px;
}

h1 {
  color: rgba(112, 212, 54, 0.77);
}

h2 {
  color: rgb(242, 249, 29);
  margin-top: 40px;
}
.underline {
  text-decoration: underline;
}
p {
  font-size: 20px;
}

ul {
  list-style: none;
  padding:0;
}

ul li {
  background: rgba(5, 5, 5, 0.596);
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
}

ul li:hover {
  background: rgba(144, 138, 152, 0.848);
}

a {
  color: rgb(22, 215, 240);

}


